*
{
    text-align: left;
    text-decoration: none;
    margin: auto;
}

body {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
  }
  
#canvas {
    position: absolute;
    margin: 0px;
    padding: 0px;
    background-color: #D5D18A;
  }

ol li a
{
    border: 3px solid gray;
    border-radius: 5px;
    text-decoration: none;
    background-color: rgb(41, 29, 216);
    color:#ffffff
}