*
{
    text-align: center;
    text-decoration: none;
    margin: auto;
}

body
{
    background-image: url('../../images/poppy.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /*background-color: darkolivegreen;*/
}

ol li a
{
    border: 3px solid gray;
    border-radius: 5px;
    text-decoration: none;
    background-color: rgb(41, 29, 216);
    color:#ffffff
}

div img
{
    width: 500px;
    height: 300px;
}

li form img src
{
    width: 150px;
    height: 150px;
}

form
{
    margin-left: -10px;
}

table
{
    background: gray;
}