*
{
    text-align: center;
    text-decoration: none;
    margin: auto;
}

body
{
    background-color: darkolivegreen;
}

ol li a
{
    border: 3px solid gray;
    border-radius: 5px;
    text-decoration: none;
    background-color: rgb(41, 29, 216);
    color:#ffffff
}

div img
{
    width: 150px;
    height: 150px;
}