{% extends "base.html" %}

{% block content %}

    <h3>In this section you can view contact info for those with whom you may have been stationed with in the past.</h3>
    <h3>If you want to see someones contact info here, you must click on the "Yes" button next to their name on the <a href="/matches"> Matches </a>page!</h3>

<!--//TODO - If user.id.a and user.id.b both click yes button then show contact info here-->

<h3>**************************************************************************************************</h3>
<hr />
<h1>Your Friends</h1>

        {% if users|length == 0 %}
        <p>No Friends Yet - encourage those you already know to sign up and ask them to spread the word!</p>
        {% else %}

            <ol>
                {% for user in users %}
                <li: only-of-type {list-style-type: none;}>
                    <form action="/users?id={{user.id}}">
                        {{user.userimage}}, {{user.firstname}} {{user.lastname}}, 
                        {{user.email}}, {{user.linkedin}}, {{user.facebook}}, {{user.phone}}
                    </form>
                </li>
                {% endfor %}
            </ol>
        {% endif %}

    <hr />
{% endblock %}