{% extends "base.html" %}

{% block content %}
<h1>Log in to Battle Buddies!</h1>
<form action="/login" method="post">
    <table>
        <tr>
            <td><label for="username">Username</label></td>
            <td>
                <input name="username" type="username" value="{{ username }}">
            </td>
        </tr>
        <tr>
            <td><label for="password">Password</label></td>
            <td>
                <input name="password" type="password">
            </td>
        </tr>
    </table>
    <input type="submit" value="Login">
    <br> 
    <button id="myBtn">Create Acount</button>
</form>
<div>
    <img src="../../images/01.jpg">
    <img src="../../images/02.jpg">
    <br>
    <img src="../../images/03.jpg">
    <img src="../../images/04.jpg">
    <br>
    <img src="../../images/05.jpg">
    <img src="../../images/06.jpg">
</div>

{% endblock %}