{% extends "base.html" %}

{% block content %}

    <h3>In this section you can view those with whom you may have been stationed with in the past.</h3>
    <h3>In order to share contact info with one another you must click on the "Yes" button next to their name!</h3>
    <h3>Click <a href="/friends">HERE</a> to view your current friends list.</h3>
    <h1>Your Matches</h1>

    <hr />

        {% if users|length == 0 %}
        <p>No Matches Yet</p>
        {% else %}
        <div>
            <ol>
                {% for user in users %}
                <li>                    
                    <form action="/users?id={{user.id}}">
                        <input type="submit" value="Yes">
                        <img src="/images/{{user.userimage}}">{{user.firstname}} {{user.lastname}}, {{user.branch}}, {{user.base}}
                    </form>
                </li>
                {% endfor %}
            </ol> 
        </div>   
        {% endif %}
        <br>
        <br>

    <hr />

{% endblock %}