{% extends "base.html" %}

{% block content %}
<h1>Register to start connecting!</h1>
<a href="/login">Or Login</a>
<form action="/register" method="post">
    <table>
        <h3>Login Information</h3>
        <tr>
            <td><label for="username">*Username</label></td>
            <td>
                <input name="username" type="username">
            </td>
        </tr>
        <tr>
            <td><label for="password">*Password</label></td>
            <td>
                <input name="password" type="password">
            </td>
        </tr>
        <tr>
            <td><label for="verify">*Verify Password</label></td>
            <td>
                <input name="verify" type="password">
            </td>
        </tr>
        
    </table>
    
    <input type="submit" value="Register">
</form>
{% endblock %}